
*
  box-sizing border-box
  outline none
  border none
  margin 0
  padding 0

::-webkit-scrollbar
  width 5px
  height 5px

::-webkit-scrollbar-track-piece
  background-color rgba(0, 0, 0, 0.2)
  -webkit-border-radius 6px

::-webkit-scrollbar-thumb:vertical
  height 5px
  background-color rgba(125, 125, 125, 0.7)
  -webkit-border-radius 6px

::-webkit-scrollbar-thumb:horizontal
  width 5px
  background-color rgba(125, 125, 125, 0.7)
  -webkit-border-radius 6px

::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #707070;
  font-size: 14px;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #707070;
  font-size: 14px;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #707070;
  font-size: 14px;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #707070;
  font-size: 14px;
}

body, html
  line-height 1
  font-family 'Microsoft YaHei UI', 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  -webkit-tap-highlight-color transparent
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width 100%
  height 100%
  margin 0
  padding 0

ul, li
  list-style: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}
